<!DOCTYPE HTML>
<html>
	<head>
		<title> Motors Dynamic </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				
				<!-- Menu -->
				<nav id="menu">
					<ul class="links">
		                <li> <a href="/">Home </a> </li>

		                <li> <a href="cars">Cars</a> </li>

		                <li> <a href="about">About Us</a> </li>

		                <li> <a href="blog">Blog</a> </li>

		                <li><a href="contact">Contact Us</a></li>

		                <li class="dropdown active">
		                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">More</a>
		                    
		                    <ul class="dropdown-menu">
		                        <li><a href="team">Team</a></li>
				                <li><a href="testimonials">Testimonials</a></li>
				                <li><a href="faq">FAQ</a></li>
				                <li class="active"><a href="terms">Terms</a></li>
		                    </ul>
		                </li>
            		</ul>
				</nav>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>